---
---

<div>
    <h2 class="header2">About</h2>
    <p>This website allows musicians to practice instruments with backing tracks created by everyday users, which can be used anywhere you can access an internet browser. Backing tracks are sometimes hard to find or behind a paywall. This site allows anyone to freely build and share backing audio tracks for others to practice with. If you don’t see a song listed that you want to practice, feel free to make your own with the 16-step sequencer.</p>

    <p>It is still early on for this project, so if the sequencer stops, reload the page and try again. Also note: steps will not be saved until you click the SHARE button.</p>
</div>

<style>
     .header2{
        margin:8px 0;
        font-size:1rem;
    }
    p{
        font-size:1.15rem;
    }
</style>