---
---

<div>
    <h2 class="header2">About</h2>
    <p>This static site allows you to practice instruments with backing tracks created and curated by everyday users which can be used anywhere you can access an internet browser. The entire site (including sounds) is only 115 KB, smaller than most images, and has zero backend.</p>
    
    <p>If you don't see a song listed that you want to practice feel free to make your own with the 16 step sequencer. </p>

    <p>It is still early on, so if the sequencer stops, reload the page. Also note steps will not be saved until you click the SHARE button.</p>
</div>

<style>
     .header2{
        margin:8px 0;
        font-size:1rem;
    }
</style>