---
---

<div>
    <span>---</span>
    <p>Jam With Music lets you create, share, and practice your instrument with backing tracks. Use the 16-step sequencer to build your own tracks and play along anywhere using an internet browser. No paywalls, no ads, no trackers.</p>

    <a href="https://github.com/leabs" >Built by @Leabs</a>
</div>

<style>
     .header2{
        margin:8px 0;
        font-size:1rem;
    }
    p{
        font-size:1.15rem;
    }
    a{
        color:var(--color-primary);
    }
    a:hover{
        color:#529a60;
    }
</style>