---
---

<div>
    <h2 class="header2">About</h2>
    <p>This site allows you to practice instruments with backing tracks that are created and curated by everyday users. If you don't see a song listed that you want to practice feel free to make your own with the 16 step sequencer. </p>
</div>

<style>
     .header2{
        margin:8px;
        font-size:1rem;
    }
</style>