---
---

<div>
    <h2 class="header2">About</h2>
    <p>This light weight static site allows you to practice instruments with backing tracks that are created and curated by everyday users and can be used anywhere you can use an internet browser. The entire site (including sounds) is only 115 kb, smaller than most images and has zero back end.</p>
    
    <p>If you don't see a song listed that you want to practice feel free to make your own with the 16 step sequencer. </p>
</div>

<style>
     .header2{
        margin:8px 0;
        font-size:1rem;
    }
</style>