---
import songs from "../../public/songs.json";

// Sort songs alphabetically by artist name
const sortedSongs = songs.sort((a, b) => a.artist.localeCompare(b.artist));
---
<div id="songs">
    <h2 class="header2">Song List:</h2>
    <ul class="song-list-list">
        {sortedSongs.map((song) => (
            <li>
                <a href={song.link}>{song.artist} - {song.title}</a>
            </li>
        ))}
    </ul>
</div>

<style>
    .header2 {
        margin: 8px 0;
        font-size: 1rem;
    }
    #songs a {
        color: #fff;
    }
    #songs a:hover {
        color: #529a60;
    }
    .song-list-list {
        margin-top: 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem; /* Adjust the gap between items */
        list-style: none;
        padding: 0;
    }
    .song-list-list li {
        margin: 0; /* Optional, for consistent spacing */
    }
    @media (max-width: 600px) {
        .song-list-list {
            grid-template-columns: 1fr;
        }
    }
</style>