

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content="Jam With Music - A drum machine for the web" />
		<title>Jam With Music | Drum Machine for the web</title>
		<meta name="author" content="Leabs" />
		<meta name="keywords" content="drum machine, music, web, sequencer, drum, machine, jam, jam with music" />
		<!-- Essential OG Tags -->
		<meta property="og:title" content="Jam With Music - Drum Machine for the web" />
		<meta property="og:description" content="Jam With Music | A drum machine for the web" />
		<meta property="og:image" content="https://jamwithmusic.vercel.app/thumb.png" />
		<meta property="og:url" content="https://jamwithmusic.vercel.app/" />
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}

</style>
